* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Montserrat', sans-serif;
    background: url(./imagen/fondo.jpg) no-repeat center top fixed;
}

.logo {
    margin: 1rem 0 0 3rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}


/*------------------------------------------------------------------------
 Style for Menu
------------------------------------------------------------------------*/

nav ul li a {
    color: #fff;
    list-style: none;
}


/*------------------------------------------------------------------------
 Style for header 
------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
Style for footer
------------------------------------------------------------------------*/

.footer {
    position: fixed;
    background: url(img/footer.png);
    left: 0;
    bottom: 0;
    width: 100%
}