* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Montserrat', sans-serif;
    background: url(./imagen/fondo.jpg) no-repeat center top fixed;
}

header>h1 {
    width: 100%;
    height: 10rem;
}

.logo {
    margin: 1rem 0 0 3rem;
}

.logo-computer{
    width: 130px;
    height: auto;
}

header {
    position: fixed;
    width: 100%;
    height: 7rem;
    top: 0;
    left: 0;
    z-index: 200;
}


/*------------------------------------------------------------------------
 Style for Menu
------------------------------------------------------------------------*/

#bar-menu {
    display: none;
}

label {
    float: right;
    top: 0;
    z-index: 250;
}

nav ul li a {
    color: #fff;
    list-style: none;
}

.container {
    width: 98%;
    margin: auto;
}

.menu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(94, 11, 94, 0.89);
    transition: all 0.7s;
    transform: translateX(-100%);
}

.menu ul li a {
    display: block;
    color: #fff;
    height: 10px;
    padding: 20px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}

.menu ul li a:hover {
    cursor: pointer;
    background: rgba(180, 130, 180, 0.89);
}

#bar-menu:checked~.menu {
    transform: translateX(0%);
}


/*------------------------------------------------------------------------
 Style for header 
------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
Style for footer
------------------------------------------------------------------------*/

.footer {
    position: absolute;
    z-index: 10000;
    background: url(./imagen/footer.png);
    bottom: 0;
    width: 100%;
}


/*------------------------------------------------------------------------
 Style for container
------------------------------------------------------------------------*/

#container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 100px 0 0 0;
}
