* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Montserrat', sans-serif;
  background: url(./imagen/fondo.jpg) no-repeat center top fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.pantalla {
  padding-top: 6em;
  min-height: 95vh;
  flex-wrap: wrap; 
}

h1 {
    width: 50%;
}

.logo {
    position: absolute  ;
    margin: 1rem 0 0 3.8rem;
}

.computer{
  width: 500px;
  flex-direction: flex-star;
  top: 0;
  left: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 7rem;
    top: 0;
    left: 0;
}

/*------------------------------------------------------------------------
Style for Menu
------------------------------------------------------------------------*/

#bar-menu {
  display: none;
}

.container #label-bar-menu{
    position: relative;
    display: flex;
    float: right;
    background-position-x: 30px;
    margin: 25px 10px 0 0;
}

nav ul li a {
  color: #fff;
  list-style: none;
}

.container {
    width: 100%;
    margin: auto;
}

.menu {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(83, 3, 83, 0.89);
  transition: all 0.7s;
  transform: translateX(-100%);
}

.menu ul li a {
  display: block;
  color: #fff;
  height: 10px;
  padding: 20px;
  text-decoration: none;

}

.menu ul li a:hover {
    cursor: pointer;
    background: rgba(255, 0, 98, 0.89);
}

#bar-menu:checked~.menu {
  transform: translateX(0%);
}

/*------------------------------------------------------------------------
Style for views
------------------------------------------------------------------------*/
nav ul li a::selection ~.menu{
    transition: all 0.7s;
    transform: translateX(-100%); 
} 

/*------------------------------------------------------------------------
Style for login
------------------------------------------------------------------------*/
#home{
    width: 100%;
    height: auto;
    justify-content: center;
}
.titulo{
    margin: 0 5px 6px 50px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inputsHome{
    width: 150px;
    margin: 5px;
    width: 160px;
    height: 20px;
}
.marginHome{
    margin: 5px;
    color: #fff
}
.key{
    margin-right: 0.65rem;
}
.icons{
    margin: 0 5px 6px 60px;
    text-decoration: #fff;
}
.button{
    width: 100px;
    height: 30px;
    margin: 10px 10px 10px 60px;
    background-color: rgba(94, 11, 94, 0.89);
    color: #fff;
}

/*------------------------------------------------------------------------
Style for register
------------------------------------------------------------------------*/

.inputs-register{
    margin: 10px 30px 10px 30px;
    width: 160px;
    height: 20px;
}
.container-register{
    margin-left: 1rem;
}
.label{
    font-weight: 500;
}


/*------------------------------------------------------------------------
Style for foro
------------------------------------------------------------------------*/
.foto{
    width: 30px;
    height: auto;
}

.ePosts{
width: 95%;
height: 70px;
padding: 10px;
box-sizing: border-box;
margin: 20px auto;
margin-top: 50px;
resize: none;
}

/*------------------------------------------------------------------------
Style for footer
------------------------------------------------------------------------*/

.footer {
    width: 100%;
    height: 80px;
    text-align: right;
    color: #fff;
    background: url(./imagen/footer.png);
    font-size: 12px;
}

/*------------------------------------------------------------------------
Style for container-main
------------------------------------------------------------------------*/

#container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 100px 0 0 0;
}

@media (min-width:600px){
.menu{
  position: static;
  width: auto;
  height: auto;
  transform: translateX(0%);
  float: right;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
}
nav ul{
  display: flex;
  flex-direction: row;
  color: #fff;
  list-style: none;
  text-decoration: none;
  background-color: 0;
}
.container #label-bar-menu{
  display: none;
} 
nav ul li a{
  margin: 0;
  padding: 0;
  }
}
/* no tocar esto*/
#commits{
    display: flex;
    flex-direction: column-reverse;
}

.publicaciones {
  margin: 5px;
}
.comment-avatar {
  margin: 5px;
  width: 65px;
  height: 65px;
  float: left;
  border: 3px solid #FFF;
}
.comment-box {
  width: 680px;
  float: right;
} 
.comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
}
span{
color:black;
}
.comment-box .comment-head {
    background: #FCFCFC;
    padding: 5px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    color: black;
}

.comment-opinion {
    background: #FCFCFC;
    padding: 5px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    display: flex;
    color: black;
}
.comment-head{
  display: flex;
}

.comment-name.by-author{
  content: 'autor';
  /*background: #03658c;*/
  color: #03658c;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#commit{
  width: 150%;
  height: 90px;
}