* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url(img/fondo.jpg) no-repeat center top fixed;
}

.total {
    display: flex;  
    flex-flow: row wrap;
    color: #fff;
    font-size: 16px;
    min-height: 96vh;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}
.total > * {
    padding: 10px;
    flex: 1 100%;
}
@media all and (min-width: 700px) {
    .medio   { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .medio    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}
.medio {
    /*text-align: center;*/
    display: flex;
    flex-wrap: nowrap;
    
}
.registrar{
    /*display: flex;
    flex-wrap: wrap;*/
    justify-content: center;
    padding: 0 100px;
}
.aside-1 {
    text-align: left;
}  
.aside-2 {
    background: white;
    align-content: right;
}  
@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}
.img-principal{
    width: 30%;
    
}

.titulo{
    font-size: 3em;
    float: bold;
}

.button-w {
    background: #fff;
    display: inline-block;
    color: #370D64;
    padding: 6px 6px;
    font-size: .9em;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500s ease;
    transition: all 500ms ease;
    border-style: none;
}

.button-f {
    background: #EA405A;
    display: inline-block;
    color: #fff;
    padding: 6px 6px;
    font-size: .9em;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500s ease;
    transition: all 500ms ease;
    border-style: none;
}

.footer {
    align-self: flex-end;
    width: 100%;
    line-height: 3;
    color: #fff;
    background: url(img/footer.png);
    font-weight: lighter;
    font-size: 10px;
    text-align: right;
}

/*input{
    display: flex;
    flex-direction: column;
    align-content: center;
    
}*/