.total {
    display: flex;  
    flex-flow: row wrap;
    /*font-weight: bold;*/
    flex-wrap: wrap;
    /*justify-content: space-around;*/
  }
  
.total > * {
    padding: 10px;
    flex: 1 100%;
}
@media all and (min-width: 700px) {
    .medio   { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .medio    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}
.medio {
    /*text-align: center;*/
    display: flex;
    flex-wrap: nowrap;
    
}
.registrar{
    /*display: flex;
    flex-wrap: wrap;*/
    justify-content: center;
    padding: 0 100px;
}
.aside-1 {
    text-align: left;
}  
.aside-2 {
    background: white;
    align-content: right;
}  
@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}
.img-principal{
    width: 30%;
    
}
button{
    width: 100px;
    height: 40px;
}
.social{
    width: 9%;
    border-radius: 20px;
}
.social1{
    width: 5%;
}
/*input{
    display: flex;
    flex-direction: column;
    align-content: center;
    
}*/